### SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.    
SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.    
This lesson covers the basics of SQL and SQLite, including creating databases, table, and performing various SQL Operations.

In [1]:
import sqlite3

In [2]:
## Connect to a SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a table
cursor.execute('''
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
 ''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Mohan',34,'Data Scientist')
''')

cursor.execute('''
Insert INTO employees(name,age,department)
            values('Bob',44,'Engineering')
''')

cursor.execute('''
Insert INTO employees(name,age,department)
               values('Charlie',23,'IT')
''')

## Commit the changes
connection.commit()

In [7]:
## Querying the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall() # Get all the records 

## Print the queried data
for row in rows:
    print(row)

(7, 'Bob', 34, 'Engineering')
(8, 'Charlie', 23, 'IT')
(9, 'Mohan', 34, 'Data Scientist')
(10, 'Bob', 44, 'Engineering')
(11, 'Charlie', 23, 'IT')

In [8]:
## Update the data in the table
cursor.execute('''
Update employees
Set age=34
where name= "Bob"
''')

## Commit the changes

In [9]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(7, 'Bob', 34, 'Engineering')
(8, 'Charlie', 23, 'IT')
(9, 'Mohan', 34, 'Data Scientist')
(10, 'Bob', 34, 'Engineering')
(11, 'Charlie', 23, 'IT')

In [10]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name='Mohan'
''')
connection.commit()

In [11]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(7, 'Bob', 34, 'Engineering')
(8, 'Charlie', 23, 'IT')
(10, 'Bob', 34, 'Engineering')
(11, 'Charlie', 23, 'IT')

In [12]:
## Working with Sales Data

# Connect to a SQLite Database 
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
Create Table If Not Exists  sales(
              id Integer Primary Key,
              date Text Not Null,
              product Text Not Null,
              sales Integer,
              region Text 
               )
''')

# Insert data into the sales table
sales_data = [
('2023-01-01','Product 1', 100, 'North'),
('2023-01-02','Product 2', 200, 'South'),
('2023-01-03','Product 1', 150, 'East'),
('2023-01-04','Product 3', 250, 'West'),
('2023-01-05','Product 2', 300, 'North')
]

## Bulk Insertion
cursor.executemany('''
Insert Into sales(date,product,sales,region)
            values(?,?,?,?)
''', sales_data)

# Commiting the changes
connection.commit()

In [13]:
cursor.execute("Select * from sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product 1', 100, 'North')
(2, '2023-01-02', 'Product 2', 200, 'South')
(3, '2023-01-03', 'Product 1', 150, 'East')
(4, '2023-01-04', 'Product 3', 250, 'West')
(5, '2023-01-05', 'Product 2', 300, 'North')
(6, '2023-01-01', 'Product 1', 100, 'North')
(7, '2023-01-02', 'Product 2', 200, 'South')
(8, '2023-01-03', 'Product 1', 150, 'East')
(9, '2023-01-04', 'Product 3', 250, 'West')
(10, '2023-01-05', 'Product 2', 300, 'North')

In [14]:
## Closing the connection
connection.close()