In [1]:
1+1

2

### Arithemtic Operators

In [3]:
## Arithemtic Operations

a = 10
b = 5

add_result = a+b #Addition
print(add_result)

subtract_result = a-b #Subtraction
print(subtract_result)

multiply_result = a*b #Multiplication
print(multiply_result)

division_result = a/b #Division
print(division_result)

floor_division_result = a//b #Floor division
print(floor_division_result)

modulus_result = a%b #Modulus
print(modulus_result)

exponent_result = a**b #Exponent
print(exponent_result)

15
5
50
2.0
2
0
100000

In [4]:
10/5

2.0

In [5]:
21/5

4.2

In [ ]:
21//5 #Floor division will give the lowest value or simply remove the decimal part

4

### Comparision Operators

In [ ]:
## Comparision operators
## == (Equal to operator)
a = 10
b = 10
a==b #Compares the value that is present in the datatype

True

In [8]:
str1 = "Krish"
str2 = "Krish"

str1==str2

True

In [9]:
str1 = "Krish"
str2 = "krish"

str1==str2 #Case sensitive

False

In [10]:
## != (Not equal to operator)
str1!=str2

True

In [11]:
str1 = "Krish"
str2 = "Krish"
str1!=str2

False

In [12]:
## > (Greater than)
num1 = 45
num2 = 55
num1>num2

False

In [13]:
num2>num1

True

In [14]:
## < (Less than)
num1<num2

True

In [16]:
print(num2<num1)

False

In [17]:
## >= (Greater than or equal to)
num3 = 45
num1 >= num3

True

In [18]:
num1>=num2

False

In [19]:
## <= (Less than or equal to)
num1 <= num2

True

In [20]:
num1<=num3

True

### Logical operators

In [30]:
## and, or, not

##and, gives true only when both the inputs are true
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [29]:
##or, gives true when either of the inputs is true
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [28]:
#not, inverts the input 
print(not True)
print(not False)

False
True

### Simple Calculator

In [31]:
## Arithemtic Operations

a = float(input("Enter a number: "))
b = float(input("Enter another number"))

add_result = a+b #Addition
print("Addition: ", add_result)

subtract_result = a-b #Subtraction
print("Subtraction: ", subtract_result)

multiply_result = a*b #Multiplication
print("Multiplication: ", multiply_result)

division_result = a/b #Division
print("Division: ", division_result)

floor_division_result = a//b #Floor division
print("Floor division: ", floor_division_result)

modulus_result = a%b #Modulus
print("Modulus: ", modulus_result)

exponent_result = a**b #Exponent
print("Exponent: ", exponent_result)

Addition:  30.0
Subtraction:  -10.0
Multiplication:  200.0
Division:  0.5
Floor division:  0.0
Modulus:  10.0
Exponent:  1e+20